<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <RandomAccessFile name="RandomAccessFile" fileName="logs/data.log" immediateFlush="false" append="false">
            <PatternLayout pattern="[%level][%d{UNIX_MILLIS}][%t][%c{1}] %msg%n"/>
        </RandomAccessFile>
        <RollingRandomAccessFile name="RollingRandomAccessFile"
                                 fileName="logs/rolling_data.log"
                                 filePattern="logs/rolling_data.%i.gz"
                                 immediateFlush="false">
            <PatternLayout pattern="[%level][%d{UNIX_MILLIS}][%t][%c{1}] %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="nomax" />
        </RollingRandomAccessFile >
    </Appenders>
    <Loggers>
        <Root level="info" includeLocation="false">
<!--            <AppenderRef ref="RandomAccessFile"/>-->
            <AppenderRef ref="RollingRandomAccessFile"/>
        </Root>
    </Loggers>
</Configuration>