<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
<!--<Configuration>-->
    <Properties>
        <Property name="log_date">log_date</Property>
        <Property name="log_name">log_name</Property>
        <Property name="log_settings">log_settings</Property>
        <Property name="log_file_size">100 MB</Property>
        <Property name="log_buffer_size">4194304</Property>
        <Property name="compression_level">3</Property>
    </Properties>
    <Appenders>
        <RollingRandomAccessFile name="RollingRandomAccessFile"
                                 fileName="logs/${main:log_name}${main:log_settings}/${main:log_date}/data.log"
                                 filePattern="logs/${main:log_name}${main:log_settings}/${main:log_date}/data.%i.gz"
                                 immediateFlush="false"
                                 append="false">
            <PatternLayout pattern="%d{UNIX_MILLIS}_%t %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${main:log_file_size}"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="nomax" compressionLevel="${main:compression_level}" />
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="info" includeLocation="false">
            <AppenderRef ref="RollingRandomAccessFile"/>
        </Root>
    </Loggers>
</Configuration>